## This splits the csv into training and validation data
This includes the following steps
1. import the csv
2. separate the sustainable finance and non-sustainaable finance text in different dfs.
3. shuffle both dfs and take the first 5000 of both dfs as training data set. Save 10,000 texts into a csv
4. save the remaining as validation data sets

In [25]:
#import needed libraries
import pandas as pd

In [26]:
csv_directory = '/Users/pelumioluwaabiola/Downloads/Researchwork/CSVfiles/standards.csv'
test_train_directory = '/Users/pelumioluwaabiola/Downloads/Researchwork/CSVfiles'

In [27]:
df = pd.read_csv(csv_directory)
df.head()

,standard_type,document_title,document_text,label
0,carborn disclosure project,Climate Disclosure Framework,A CLIMATE DISCLOSURE FRAMEWORK FOR SMALL AND M...,0
1,carborn disclosure project,Climate Disclosure Framework,A significant proportion of the world’s busine...,0
2,carborn disclosure project,Climate Disclosure Framework,report on their progress and ultimately reduce...,0
3,carborn disclosure project,Climate Disclosure Framework,nearing and that impacts will continue to occu...,0
4,carborn disclosure project,Climate Disclosure Framework,report on in their climate disclosures.OVERVIE...,0

In [28]:
#get total number of rows in df
total_rows = df.shape[0]
print('Total number of rows in df: ', total_rows)

Total number of rows in df:  25857

In [29]:
#retrieve values with label = 0 and save in new df
sustainable_df = df[df['label']==0]
rows = sustainable_df.shape[0]
print('Number of sustainable standards:', rows)

Number of sustainable standards: 17102

In [30]:
#retrieve values with label = 1 and save in a new df
nonsustainable_df = df[df['label']==1]
num_rows = nonsustainable_df.shape[0]
print('Number of non-sustainable standards:', num_rows)

Number of non-sustainable standards: 8755

In [31]:
#view the head rows before the shuffle
sustainable_df.head()

,standard_type,document_title,document_text,label
0,carborn disclosure project,Climate Disclosure Framework,A CLIMATE DISCLOSURE FRAMEWORK FOR SMALL AND M...,0
1,carborn disclosure project,Climate Disclosure Framework,A significant proportion of the world’s busine...,0
2,carborn disclosure project,Climate Disclosure Framework,report on their progress and ultimately reduce...,0
3,carborn disclosure project,Climate Disclosure Framework,nearing and that impacts will continue to occu...,0
4,carborn disclosure project,Climate Disclosure Framework,report on in their climate disclosures.OVERVIE...,0

In [32]:
#shuffle and view head rows after the shuffle
sustainable_df = sustainable_df.sample(frac=1).reset_index(drop=True)
sustainable_df.head()

,standard_type,document_title,document_text,label
0,task force on climate-related financial disclo...,Climate-related Financial Disclosures,with significant emissions are likely to be im...,0
1,un environment programme finance initiative,Principles for Responsible Banking,for resource efficiency and circular econ - om...,0
2,luxflag supporting sustainable finance,luxflag supporting sustainable finance,Actions Monde - Actif 2 FDC SICAV Actions Mond...,0
3,task force on climate-related financial disclo...,Climate-related Financial Disclosures,While such organizations may face significant ...,0
4,Freshfields,A Legal Framework For Impact,A. INVESTING FOR SUSTAINABILITY IMPACT67 INVES...,0

In [33]:
#view head of nonsustainable_df before shuffle
nonsustainable_df.head()

,standard_type,document_title,document_text,label
17102,Non-sustainable standards,Conceptual Framework for Financial Reporting,Conceptual Framework for Financial Reporting C...,1
17103,Non-sustainable standards,Conceptual Framework for Financial Reporting,CONTENTS from paragraph STATUS AND PURPOSE OF ...,1
17104,Non-sustainable standards,Conceptual Framework for Financial Reporting,Financial performance reflected by past cash f...,1
17105,Non-sustainable standards,Conceptual Framework for Financial Reporting,3—FINANCIAL STATEMENTS AND THE REPORTING ENTIT...,1
17106,Non-sustainable standards,Conceptual Framework for Financial Reporting,...continued Control 4.19 DEFINITION OF A LIAB...,1

In [34]:
#shuffle and view head of nonsustainable_df after shuffle
nonsustainable_df = nonsustainable_df.sample(frac=1).reset_index(drop=True)
nonsustainable_df.head()

,standard_type,document_title,document_text,label
0,Non-sustainable standards,ias-12-income-taxes,A1092 © IFRS Foundation,1
1,Non-sustainable standards,ifrs-9-financial-instruments,involvement takes the form of guaranteeing the...,1
2,Non-sustainable standards,ifrs-10-consolidated-financial-statements,"from its involvement with an investee, the gre...",1
3,Non-sustainable standards,ias-32-financial-instruments-presentation,Leisenring Warren J McGregor Patricia L O’Mall...,1
4,Non-sustainable standards,Conceptual Framework for Financial Reporting,transactions and other events and conditions t...,1

In [35]:
#get the first 5000 rows and save in a new df
training_sustainable_df = sustainable_df.iloc[:7000]
print('Number of rows in training_sustainable_df:', training_sustainable_df.shape[0])

Number of rows in training_sustainable_df: 7000

In [36]:
training_sustainable_df.head()

,standard_type,document_title,document_text,label
0,task force on climate-related financial disclo...,Climate-related Financial Disclosures,with significant emissions are likely to be im...,0
1,un environment programme finance initiative,Principles for Responsible Banking,for resource efficiency and circular econ - om...,0
2,luxflag supporting sustainable finance,luxflag supporting sustainable finance,Actions Monde - Actif 2 FDC SICAV Actions Mond...,0
3,task force on climate-related financial disclo...,Climate-related Financial Disclosures,While such organizations may face significant ...,0
4,Freshfields,A Legal Framework For Impact,A. INVESTING FOR SUSTAINABILITY IMPACT67 INVES...,0

In [37]:
training_sustainable_df.tail()

,standard_type,document_title,document_text,label
6995,GreenFin Label,Finance Verte Guidelines,year; - that the action plan for an overall re...,0
6996,un environment programme finance initiative,Common Framework OF Sustainable Finance Taxono...,Increased frequencies and intensities of extre...,0
6997,Freshfields,A Legal Framework For Impact,"la loi islamique. Under that guidance, French ...",0
6998,Sustainability Accounting Standards Board,Sustainability Accounting Standard,Employee Diversity & Inclusion Topic Summary E...,0
6999,Freshfields,A Legal Framework For Impact,strategies (even where such engagement activit...,0

In [38]:
#get the first 5000 rows and save in a new df
training_nonsustainable_df = nonsustainable_df.iloc[:7000]
print('Number of rows in training_nonsustainable_df:', training_nonsustainable_df.shape[0])

Number of rows in training_nonsustainable_df: 7000

In [39]:
training_nonsustainable_df.head()

,standard_type,document_title,document_text,label
0,Non-sustainable standards,ias-12-income-taxes,A1092 © IFRS Foundation,1
1,Non-sustainable standards,ifrs-9-financial-instruments,involvement takes the form of guaranteeing the...,1
2,Non-sustainable standards,ifrs-10-consolidated-financial-statements,"from its involvement with an investee, the gre...",1
3,Non-sustainable standards,ias-32-financial-instruments-presentation,Leisenring Warren J McGregor Patricia L O’Mall...,1
4,Non-sustainable standards,Conceptual Framework for Financial Reporting,transactions and other events and conditions t...,1

In [40]:
#merge both traiing_sustainable_df and training_nonsustainable_df
training_df = pd.concat([training_sustainable_df, training_nonsustainable_df])
print('Number of rows in training_df:', training_df.shape[0])

Number of rows in training_df: 14000

In [41]:
#shuffle the training_df
training_df = training_df.sample(frac=1).reset_index(drop=True)
training_df.head()

,standard_type,document_title,document_text,label
0,task force on climate-related financial disclo...,Metric Climate-related Financial Disclosures,challenges and existing accounting guidance on...,0
1,Non-sustainable standards,2023-ifs-banks,| Guide to annual financial statements – Illus...,1
2,Non-sustainable standards,2023-ifs-banks,Illustrative disclosures – Notes 207 Accountin...,1
3,Freshfields,A Legal Framework For Impact,between the risk of an asset and its likely re...,0
4,Non-sustainable standards,Illustrative_discloser IFRS 9 for Banks,Chapter 23 Revenue (IAS 18) EXAMPLE 23.3 A gen...,1

In [42]:
#get the get remaining rows after the 7000 and save in a new df
test_sustainable_df = sustainable_df.iloc[7000:]
print('Number of rows in test_sustainable_df:', test_sustainable_df.shape[0])

Number of rows in test_sustainable_df: 10102

In [43]:
test_sustainable_df.head()

,standard_type,document_title,document_text,label
7000,Freshfields,A Legal Framework For Impact,by humans from the environment.’ 266 Emphasis ...,0
7001,Freshfields,A Legal Framework For Impact,Guidance Notice 1 says that,0
7002,un environment programme finance initiative,Practical Approaches to Applying the EU Taxono...,Practical Approaches to Applying the EU Taxono...,0
7003,Freshfields,A Legal Framework For Impact,prospectus and constitutive documents) should ...,0
7004,Freshfields,A Legal Framework For Impact,the way different jurisdictions categorise and...,0

In [44]:
#get the get remaining rows after the 5000 and save in a new df
test_nonsustainable_df = nonsustainable_df.iloc[7000:]
print('Number of rows in test_nonsustainable_df:', test_nonsustainable_df.shape[0])

Number of rows in test_nonsustainable_df: 1755

In [45]:
test_sustainable_df.head()

,standard_type,document_title,document_text,label
7000,Freshfields,A Legal Framework For Impact,by humans from the environment.’ 266 Emphasis ...,0
7001,Freshfields,A Legal Framework For Impact,Guidance Notice 1 says that,0
7002,un environment programme finance initiative,Practical Approaches to Applying the EU Taxono...,Practical Approaches to Applying the EU Taxono...,0
7003,Freshfields,A Legal Framework For Impact,prospectus and constitutive documents) should ...,0
7004,Freshfields,A Legal Framework For Impact,the way different jurisdictions categorise and...,0

In [46]:
#merge both test 
test_df = pd.concat([test_sustainable_df, test_nonsustainable_df])
print('Number of rows in test_df:', test_df.shape[0])

Number of rows in test_df: 11857

In [47]:
#shuffle the test_df
test_df = test_df.sample(frac=1).reset_index(drop=True)
test_df.head()

,standard_type,document_title,document_text,label
0,un environment programme finance initiative,Practical Approaches to Applying the EU Taxono...,Practical Approaches to Applying the EU Taxono...,0
1,task force on climate-related financial disclo...,Climate-related Financial Disclosures,determine areas meriting further research and ...,0
2,task force on climate-related financial disclo...,Metric Climate-related Financial Disclosures,"Without the right information, investors and o...",0
3,Non-sustainable standards,ifrs-9-financial-instruments,active market for an identical asset or liabil...,1
4,un environment programme finance initiative,Common Framework OF Sustainable Finance Taxono...,Bank Group (2021). Energy Prices in Latin Amer...,0

In [48]:
#write training data in csv file
document_title = '/training.csv'
training_df.to_csv(test_train_directory + document_title, index=False)

In [49]:
#write test data in csv file
document_title = '/test.csv'
test_df.to_csv(test_train_directory + document_title, index=False)